# Environment variables
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# Node
node_modules/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
backend/db/test_db.py